Configuration File for GSE-Mart Tender Email Service. Separate Key value pairs with a "|". Leading and trailing spaces are ignored
DatabaseServerName | Jim-PC\SQLExpress
DatabaseName       | devGSEMartv15
DatabaseUserName   | sa
DatabasePassword   | buster
CompanyName        | OnGround FZC
SystemTitle        | GSE-Mart Tender Email Service
SMTPAddress        | mail.authsmtp.com 
SMTPPort           | 23
SMTPUsername       | ac45281
SMTPPassword       | fsvn4bsbr
SenderEmailAddress | jim.brock@gse-mart.aero