Configuration File for A&E Pathway Web Application. Separate Key value pairs with a "|". Leading and trailing spaces are ignored
DatabaseServerName | .\SQLExpress
DatabaseName       | liveGSEMartv16
DatabaseUserName   | sa
DatabasePassword   | buster
ODBCConnection     | DRIVER=SQL Server Native Client 10.0;SERVER=.\SQLExpress;UID=Jim;Trusted_Connection=Yes;DATABASE=liveGSEMartv16
CompanyName        | OnGround
SystemTitle        | GSE Mart Sellers Area
ImagePath          | http://localhost:8888/XojoImages/OnGround/
MainSiteURL        | http://localhost:8888/GSEMart/
SMTPAddress        | mail.authsmtp.com 
SMTPPort           | 23
SMTPUsername       | ac45281
SMTPPassword       | fsvn4bsbr
BCCEmailAddress    | jim.brock@gse-mart.aero
SalesEmailAddress  | jim.brock@gse-mart.aero