<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
		<section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings,Microsoft.Practices.EnterpriseLibrary.Caching"/>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling"/>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
	</configSections>
	<connectionStrings>
		<add name="GSEMART_DBSERVER" connectionString="Initial Catalog=OnGroundGSEMart; data source=.\sqlexpress;User Id=sa; Password=buster" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<dataConfiguration defaultDatabase="GSEMART_DBSERVER"/>
	<appSettings>
    <add key ="sellerURL" value="http://localhost:8080"/>
		<add key="site_type" value="live"/>
		<add key="Version" value="1.0"/>
		<add key="Title" value="GSE-Mart"/>
		<add key="ApplicationUrl" value="http://localhost:1519/Qualitiva.GSEMART.Web/"/>
		<!-- Email settings start -->
    <add key="FromSystemEmail" value="admin@GSE-Mart.aero"/>
    <add key="FromEmail" value="admin@GSE-Mart.aero"/>
		<add key="SupportEmail" value="support@gse-mart.aero"/>
		<add key="BCCEmail" value="jim.brock@gse-mart.aero"/>
		<!-- Email settings end -->
		<add key="errMsgReq" value=" Required"/>
		<add key="errMsgInvalid" value=" Invalid value"/>
		<add key="errMsgInvalidNumber" value=" Invalid value"/>
		<add key="errMsgEmail" value=" Email not valid"/>
		<add key="regExNumbersOnly" value="^[0-9]*$"/>
		<add key="regExNumbersOneToNine" value="^\d{1,20}$"/>
		<add key="regExDecNumber" value="^([0-9]*\.?[0-9]+|[0-9]+\.?[0-9]*)?$"/>
		<add key="regExDecNumber2" value="^[1-9]\d*(\.\d+)?$"/>
		<add key="regExIp" value="[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}"/>
		<add key="regExMoney" value="^\d+(\.\d\d)?$"/>
		<add key="regExDateDDMMYYYY" value="^(?=\d)(?:(?:31(?!.(?:0?[2469]|11))|(?:30|29)(?!.0?2)|29(?=.0?2.(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00)))(?:\x20|$))|(?:2[0-8]|1\d|0?[1-9]))([-./])(?:1[012]|0?[1-9])\1(?:1[6-9]|[2-9]\d)?\d\d)$"/>
		<add key="regExEmail" value="\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*"/>
		<add key="plCulture" value="fr-FR"/>
		<add key="dbCulture" value="en-US"/>
		<add key="licCulture" value="fr-FR"/>
		<add key="strTxtBoxFormat" value="dd/MM/yyyy"/>
		<add key="strTxtBoxTimeFormat" value="dd/MM/yyyy hh:mm tt"/>
		<add key="strSendToDBFormat" value="MM/dd/yyyy hh:mm tt"/>
		<add key="strTxtHidePrice" value="Price on Request"/>
		<add key="strTxtSold" value="SOLD"/>
		<add key="strDisplayDate" value="dd-MMM-yyyy"/>
		<add key="strDisplayDateTime" value="dd-MMM-yyyy hh:mm tt"/>
		<!-- Thumbnail settings -->
		<add key="ThumbHeight1" value="30"/>
		<add key="ThumbWidth1" value="30"/>
		<add key="ThumbHeight2" value="150"/>
		<add key="ThumbWidth2" value="150"/>
		<add key="ThumbHeight3" value="170"/>
		<add key="ThumbWidth3" value="250"/>
		<!-- Confirmation Email Settings -->
		<add key="NewAdvertConfirmationEmail" value="true"/>
		<add key="RenewAdvertConfirmationEmail" value="true"/>
		<add key="NewSellerAccountConfirmationEmail" value="true"/>
		<!-- Credit Card Processing System -->
		<!--<add key="password" value="Ks4quQkHOQMeKA7N" />
    <add key="success_url" value="http://localhost:2620/Qualitiva.GSEMART.Web/content/seller/SuccessfulPage.aspx" />
    <add key="failed_url" value="http://localhost:2620/Qualitiva.GSEMART.Web/content/seller/FailedPage.aspx" />
    <add key="credit_card_url" value="https://test.sagepay.com/Simulator/VSPFormGateway.asp" />
    <add key="vendor_name" value="qualitiva" />
    <add key="transaction_type" value="PAYMENT" />
    <add key="protocol" value="2.23" />
    -->
		<!--<add key="password" value="Ks4quQkHOQMeKA7N" />
    <add key="success_url" value="http://127.0.0.1/gse-mart/content/seller/SuccessfulPage.aspx" />
    <add key="failed_url" value="http://127.0.0.1/gse-mart/content/seller/FailedPage.aspx" />
    <add key="credit_card_url" value="https://test.sagepay.com/Simulator/VSPFormGateway.asp" />
    <add key="vendor_name" value="qualitiva" />
    <add key="transaction_type" value="PAYMENT" />
    <add key="protocol" value="2.23" />
    <add key="currency_code" value="" />-->
		<add key="password" value="VaKx22ctiD6iWHpt"/>
		<add key="success_url" value="http://localhost:1519/Qualitiva.GSEMART.Web/content/seller/SuccessfulPage.aspx"/>
		<add key="failed_url" value="http://localhost:1519/Qualitiva.GSEMART.Web/content/seller/FailedPage.aspx"/>
		<add key="credit_card_url" value="https://test.sagepay.com/gateway/service/vspform-register.vsp"/>
		<add key="vendor_name" value="qualitivalimite"/>
		<add key="transaction_type" value="PAYMENT"/>
		<add key="protocol" value="2.23"/>
		<!--<add key="password" value="VaKx22ctiD6iWHpt" />
    <add key="success_url" value="http://127.0.0.1/gse-mart/content/seller/SuccessfulPage.aspx" />
    <add key="failed_url" value="http://127.0.0.1/gse-mart/content/seller/FailedPage.aspx" />
    <add key="credit_card_url" value="https://test.sagepay.com/gateway/service/vspform-register.vsp" />
    <add key="vendor_name" value="qualitivalimite" />
    <add key="transaction_type" value="PAYMENT" />
    <add key="protocol" value="2.23" />-->
		<!--<add key="password" value="VaKx22ctiD6iWHpt" />
    <add key="success_url" value="http://127.0.0.1/gse-mart-test/content/seller/SuccessfulPage.aspx" />
    <add key="failed_url" value="http://127.0.0.1/gse-mart-test/content/seller/FailedPage.aspx" />
    <add key="credit_card_url" value="https://test.sagepay.com/gateway/service/vspform-register.vsp" />
    <add key="vendor_name" value="qualitivalimite" />
    <add key="transaction_type" value="PAYMENT" />
    <add key="protocol" value="2.23" />-->
		<add key="VAT" value="20.0"/>
		<!-- PayPal Details - SandBox Account-->
		<add key="Sandbox" value="true"/>
		<add key="APIUsername" value="pro_1316083459_biz_api1.qualitiva.com"/>
		<add key="APIPassword" value="F2JB67GUF5G3JGFE"/>
		<add key="APISignature" value="AvmsRa4RSCxe6pkY2yk1SmQnonPrAPTeON1nTK0aw9b0l7.PfV8Vb4BI"/>
		<!-- PayPal Details - Live Account -->
		<!--
	<add key="Sandbox" value="false" />
    <add key="APIUsername" value="oliver.schulz_api1.onground.aero" />
    <add key="APIPassword" value="UWHVZKLAT99RQGG6" />
    <add key="APISignature" value="AFcWxV21C7fd0v3bYYYRCpSSRl31AyAOQfZ0WS6NATJFntx8N0XDCL5D" />
		-->
		<!--<add key="ReturnURL" value="http://localhost/gsemart/content/seller/SuccessfulPage.aspx" />
	<add key="CancelURL" value="http://localhost/gsemart/content/seller/FailedPage.aspx" />-->
		<add key="ReturnURL" value="http://localhost:62788/Qualitiva.GSEMART.Web/content/seller/SuccessfulPage.aspx"/>
		<add key="CancelURL" value="http://localhost:62788/Qualitiva.GSEMART.Web/content/seller/FailedPage.aspx"/>
		<!-- Document Index Settings -->
		<add key="WebServiceDropFolder" value="C:\Data\zzDropFolder\"/>
	<add key="GSEMartDI.DocIndex" value="http://localhost/GSEMartDI/DocIndex.asmx"/>
	</appSettings>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="mail.authsmtp.com" password="fsvn4bsbr" userName="ac45281" port="23"/>
				<!--<network host="192.168.1.30"/>-->
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<globalization uiCulture="en" culture="en-US"/>
		<httpRuntime executionTimeout="90" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="false" requestLengthDiskThreshold="8192"/>
		<siteMap defaultProvider="Webuser" enabled="true">
			<providers>
				<add name="Admin" type="System.Web.XmlSiteMapProvider" siteMapFile="Admin.sitemap"/>
				<add name="Seller" type="System.Web.XmlSiteMapProvider" siteMapFile="Seller.sitemap"/>
				<add name="Webuser" type="System.Web.XmlSiteMapProvider" siteMapFile="Webuser.sitemap"/>
			</providers>
		</siteMap>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<pages theme="Default" maintainScrollPositionOnPostBack="true"/>
		<sessionState timeout="30"/>
		<authentication mode="Forms">
			<forms defaultUrl="~/default.aspx" loginUrl="~/logOut.aspx" name=".GSEMARTAuth" protection="All" timeout="480" slidingExpiration="true" cookieless="UseCookies"/>
		</authentication>
		<!--
    The <customErrors> section enables configuration 
    of what to do if/when an unhandled error occurs 
    during the execution of a request. Specifically, 
    it enables developers to configure html error pages 
    to be displayed in place of a error stack trace.

	<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
		<error statusCode="403" redirect="NoAccess.htm" />
		<error statusCode="404" redirect="FileNotFound.htm" />
	</customErrors>
	-->
	</system.web>
	<location path="css/styles.css">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="images">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="content">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>
